@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Poppins&display=swap');
body {
  background-color: rgb(8, 8, 8);
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
.log {
    margin-top : -13px;
  }
  .img-circle{
    border-style: solid;
    border-color: #333333;
}
.button {
    background-color: #464646;
    border: none;
  }
.buttons{
    background-color:#666666 ;
    color:white;
}
section{
  background-color: rgb(41, 39, 39);
  background-image: linear-gradient(to top, rgba(54, 52, 52, 0) 50%, rgba(255, 255, 255, 0.5));
}
a{
  text-decoration: none;
}
.btn:hover {
  background-color: #1329ec; 
  color: white;
}
.btns{
  background-color: #666666;
}

